{% extends 'base.html' %}
{% load static %}
{% block title %} About edured: Our story and our mission | edured{% endblock  %}
{% block stylesheet %}
<link rel="stylesheet" href= "{% static 'company/css/about.css' %}">
{% endblock  %}

{% block content %}

<div class="strip" style="height: fit-content;">
    <div class="cover container">
        <div class="cover container d-flex-wrap">
            <div class="width-55 p-4">
                <div class="super-heading">
                    About <span style="color: #2b4eff;">edu</span><span style="color: red;">red</span>
                </div>
                <h1 class="about-head">An extension of your brain</h1>
                <h4 class="about-description">
                    When Gaurav Sharma, our founder, began working on the idea that eventually became
                    Edured, he recognized three things the human brain does: it remembers the past, builds
                    connections, and creates new ideas for the future.
                </h4>
            </div>
            <div class="width-45 px-4">
                <img src="{% static 'company/img/our-hero.png' %}" alt="">
            </div>
        </div>
    </div>
</div>

<div class="cover container py-5 my-5">
    <div class="cover container d-flex-wrap">
        <div class="w-55 p-4">
            
            <h1 class="about-sub-heading">Remember everything</h1>
            <p class="about-sub-head-desc">
                Edured was founded to address a growing problem that technology helped to create: how to succeed in a world where the volume and velocity of information are constantly increasing.
            </p>
        </div>
        <div class="w-45 px-4">
            <img class="img-fluid" src="{% static 'company/img/remember_web.svg' %}" alt="">
        </div>
        
    </div>
    <div class="cover container d-flex-wrap-reverse">
        <div class="w-45 px-4">
            <img class="img-fluid" src="{% static 'company/img/accomplish_anything_web.svg' %}" alt="">
        </div>
        <div class="w-55 p-4">
            
            <h1 class="about-sub-heading">Accomplish anything</h1>
            <p class="about-sub-head-desc">
                People today are overwhelmed with information, and anxious about how to handle it all. Edured helps people find focus now, in the moment, to make progress on what matters most.
            </p>
        </div>
        
    </div>
    <div class="cover container d-flex-wrap">
        <div class="w-55 p-4">
            
            <h1 class="about-sub-heading">Become ever better</h1>
            <p class="about-sub-head-desc">
                Edured launched the digital personal productivity movement, and has been growing ever since. More than 225 million people around the world have discovered Edured, which is used in over 25 languages every day.
            </p>
        </div>
        <div class="w-45 px-4">
            <img class="img-fluid" src="{% static 'company/img/become_ever_better-web.svg' %}" alt="">
        </div>
        
    </div>
    <div class="cover container d-flex-wrap-reverse">
        <div class="w-45 px-4">
            <img class="img-fluid" src="{% static 'company/img/many_backgrounds_web.svg' %}" alt="">
        </div>
        <div class="w-55 p-4">
            
            <h1 class="about-sub-heading">Many backgrounds, one Edured.</h1>
            <p class="about-sub-head-desc">
                We believe that different perspectives lead to better ideas. We’re continually working to create a more trusting and collaborative environment within Edured—one where all employees can be their authentic selves.
            </p>
        </div>
        
    </div>
</div>

{% endblock  %}
