{% extends 'base.html' %}
{% load static %}
{% block title %} Online Courses - Learn Anything, On Your Schedule | edured{% endblock  %}
{% block stylesheet %}
<link rel="stylesheet" href= "{% static 'company/css/blog.css' %}">
{% endblock  %}

{% block content %}

<div class="blogHead strip">
    <div class="container cover">
        <div class="blogContainer">
            <div style="color: #67677c; font-size: 20px;">Featured Article
            </div>
            <div style="width: 30%; font-size: 36px;">
                Announcing edured PRO: A Hands-on Approach to Learn Programming

            </div>
        </div>
    </div>
</div>
<div class="container cover">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 w-100">
        <div class="blog-content col mb-4 rounded-3 ">
            <div class="row blog-container row-cols-1 row-cols-sm-2 row-cols-md-4 w-100">
                <div class="blog-card col rounded-3">
                    <div class="blog-card-in">Python <br> programming</div>
                </div>
                <div class="blog-card col rounded-3">
                    <div class="blog-card-in">Python <br> programming</div>
                </div>
                <div class="blog-card col rounded-3">
                    <div class="blog-card-in">Python <br> programming</div>
                </div>
                <div class="blog-card col rounded-3">
                    <div class="blog-card-in">Python <br> programming</div>
                </div>
                <div class="blog-card col rounded-3">
                    <div class="blog-card-in">Python <br> programming</div>
                </div>



            </div>

        </div>
        <div class="index-table col mb-4 rounded-3 ">
            <div class="index-table-content">ads will be displayed here</div>
            <div class="index-table-content">ads will be displayed here</div>
            
        </div>

    </div>
</div>

{% endblock  %}